* {
/*    border: 1px solid red !important;*/
    color: grey;

}

body {
    text-align: center;
/*    display: flex;*/
/*    flex-flow: wrap;*/
}


canvas {
/*    background-color: blue;*/
/*    width: 30%;*/
    height: auto;
}

.score{
    font-size: 40px;
}

.characters{
    margin-top: 10%;
}

.choose{
    font-size: 850%;
}

.char{
    margin-left: 10%;
    margin-right: 10%;
}