* {
/*    border: 1px solid red !important;*/
    color: grey;

}

body {
    text-align: center;
/*    display: flex;*/
/*    flex-flow: wrap;*/
}


canvas {
/*    background-color: blue;*/
/*    width: 30%;*/
    height: auto;
}

.score{
    font-size: 40px;
}
