* {
/*    border: 1px solid red !important;*/
    color: white;

}

body {
    text-align: center;
    background-color: #2346e4;
    margin: 5%;
/*
    display: flex;
    flex-flow: wrap;
*/
}


canvas {
/*    background-color: blue;*/
/*    width: 30%;*/
    height: auto;
}

.score{
    font-size: 40px;
}

.characters{
    margin-top: 0%;
}

.choose{
    font-size: 750%;
}

.char{
    margin-left: 5%;
    margin-right: 5%;
}